.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.res-card {
  margin: 10px;
  padding: 10px;
  width: 200px;
  background-color: #f0f0f0;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.Search {
  padding: 10px;
  margin: 10px;
}

.res-logo {
  width: 100%;
  height: 140px;
}
